.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-button-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen */
}

.custom-spinner {
  width: 50px !important;
  height: 50px !important;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
