<p-table
  [value]="eventDetails"
  class="event-table"
  #dt1
  [globalFilterFields]="['description', 'notes']"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10]"
>
  <ng-template #caption>
    <div
      style="
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
      "
    >
      <p-button
        label="New Entry"
        icon="pi pi-plus"
        (click)="onOpenAddDialog()"
      ></p-button>
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          size="large"
          (input)="onGlobalSearch($event)"
          placeholder="Global Search"
        />
      </p-iconfield>
      <span>SWOT Entries for "{{ eventTitle }}"</span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="table-column">Description</th>
      <th class="table-column" pSortableColumn="category">Category</th>
      <th class="table-column" pSortableColumn="type">Type</th>
      <th class="table-column" pSortableColumn="importance">Importance</th>
      <th class="table-column" pSortableColumn="score">Score</th>
      <th class="table-column">Notes</th>
      <th class="table-column"></th>
      <th class="table-column"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entry let-ri="rowIndex">
    <tr>
      <td class="table-column">{{ entry.description }}</td>
      <td class="table-column">{{ entry.category }}</td>
      <td class="table-column">{{ entry.type }}</td>
      <td class="table-column">{{ entry.importance }}</td>
      <td class="table-column">{{ entry.score }}</td>
      <td class="table-column">{{ entry.notes }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          text
          rounded
          severity="secondary"
        >
          <!-- (click)="onEdit(entry)" -->
        </button>
      </td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          text
          rounded
          severity="danger"
          (click)="onOpenDeleteDialog(entry)"
        >
          <!-- (click)="onDelete(entry, ri)" -->
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- add entry dialog -->
<p-dialog
  [(visible)]="displayAddSwotDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '500px' }"
>
  <ng-template pTemplate="header">
    <div class="header-container">
      <span>Add SWOT Entry</span>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form
      [formGroup]="swotEntryForm"
      (ngSubmit)="onSaveSwotEntry()"
      class="dialog-form"
    >
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-pencil"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="in">
          <input
            pInputText
            id="description"
            formControlName="description"
            name="description"
            autocomplete="off"
          />
          <label for="description">Description</label>
        </p-floatlabel>
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-tag"></i>
        </p-inputgroup-addon>
        <p-select
          pInputText
          id="category"
          [options]="categories"
          formControlName="category"
          name="category"
          autocomplete="off"
          placeholder="Select a category"
        >
        </p-select>
      </p-inputgroup>

      <div class="p-field">
        <label for="type">Type</label>
        <div class="p-formgroup-inline">
          <p-radioButton
            name="type"
            inputId="typeS"
            value="S"
            formControlName="type"
          ></p-radioButton>
          <label for="typeS" style="margin-right: 10px"> Strength</label>

          <p-radioButton
            name="type"
            inputId="typeW"
            value="W"
            formControlName="type"
          ></p-radioButton>
          <label for="typeW" style="margin-right: 10px"> Weakness</label>

          <p-radioButton
            name="type"
            inputId="typeO"
            value="O"
            formControlName="type"
          ></p-radioButton>
          <label for="typeO" style="margin-right: 10px"> Opportunity</label>

          <p-radioButton
            name="type"
            inputId="typeT"
            value="T"
            formControlName="type"
          ></p-radioButton>
          <label for="typeT"> Threat</label>
        </div>
      </div>

      <div class="p-field">
        <label for="importance">Importance</label>
        <div class="p-formgroup-inline">
          <p-radioButton
            name="importance"
            inputId="importanceLow"
            value="low"
            formControlName="importance"
          ></p-radioButton>
          <label for="importanceLow" style="margin-right: 10px"> Low</label>

          <p-radioButton
            name="importance"
            inputId="importanceMedium"
            value="medium"
            formControlName="importance"
          ></p-radioButton>
          <label for="importanceMedium" style="margin-right: 10px">
            Medium</label
          >

          <p-radioButton
            name="importance"
            inputId="importanceHigh"
            value="high"
            formControlName="importance"
          ></p-radioButton>
          <label for="importanceHigh">High</label>
        </div>
      </div>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-star"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="in">
          <input
            pInputText
            id="score"
            type="number"
            formControlName="score"
            name="score"
            min="0"
            max="10"
            autocomplete="off"
          />
          <label for="score">Score</label>
        </p-floatlabel>
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-comment"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="in">
          <textarea
            pInputText
            id="notes"
            formControlName="notes"
            name="notes"
            rows="4"
            autocomplete="off"
          ></textarea>
          <label for="notes">Notes</label>
        </p-floatlabel>
      </p-inputgroup>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="footer-button-container">
      <p-button
        size="small"
        severity="contrast"
        label="Close"
        icon="pi pi-times"
        (click)="onCloseAddDialog()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        size="small"
        [loading]="loading"
        [disabled]="swotEntryForm.invalid"
        (click)="onSaveSwotEntry()"
        [loading]="loading"
      />
    </div>
  </ng-template>
</p-dialog>

<!-- delete entry dialog -->
<p-dialog
  [(visible)]="displayDeleteSwotDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <span>Would you like to archive this entry?</span>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="footer-button-container">
      <p-button
        severity="contrast"
        label="Cancel"
        size="small"
        icon="pi pi-times"
        (click)="onCloseDeleteDialog()"
      />
      <p-button
        [loading]="loading"
        severity="danger"
        label="Archive"
        size="small"
        icon="pi pi-trash"
        (click)="onDeleteSwotEntry()"
      />
    </div>
  </ng-template>
</p-dialog>
