<p-table
  #categoryTable
  [value]="categories"
  [paginator]="true"
  [rows]="10"
  [tableStyle]="{ 'min-width': '20rem' }"
  [rowsPerPageOptions]="[10, 20]"
>
  <ng-template pTemplate="caption">
    <div class="header-container">
      <p-button
        label="New Category"
        icon="pi pi-plus"
        class=""
        (click)="onOpenAddDialog()"
      />
      <span>Categories List</span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Category</th>
      <th>Status</th>
      <th style="width: 100%"></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.category }}</td>
      <td>{{ category.isArchived ? "Archived" : "Active " }}</td>
      <td></td>
      <td style="display: flex; justify-content: space-around; gap: 10px">
        <!-- Edit Button -->
        <button
          pButton
          severity="secondary"
          (click)="onOpenEditDialog(category)"
        >
          <i class="pi pi-pencil"></i>
        </button>

        <!-- Archive or Restore Button -->
        <button
          *ngIf="!category.isArchived"
          pButton
          severity="danger"
          (click)="onOpenDeleteDialog(category.category)"
        >
          <i class="pi pi-trash"></i>
        </button>

        <button
          *ngIf="category.isArchived"
          pButton
          severity="primary"
          (click)="onOpenRestoreDialog(category.category)"
        >
          <i class="pi pi-refresh"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Add Category Dialog -->
<p-dialog
  [(visible)]="displayAddDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <div class="header-container">
      <span>Add Category</span>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-tag"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="in">
        <input
          pInputText
          id="categoryName"
          [(ngModel)]="newCategory"
          autocomplete="off"
        />
        <label for="categoryName">Category Name</label>
      </p-floatlabel>
    </p-inputgroup>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="footer-button-container">
      <p-button
        size="small"
        severity="contrast"
        label="Close"
        icon="pi pi-times"
        (click)="onCloseAddDialog()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        size="small"
        (click)="onSaveCategory()"
        [loading]="loading"
      />
    </div>
  </ng-template>
</p-dialog>

<!-- Delete Category Dialog -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <span>Archive the "{{ selectedCategory }}" category?</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="footer-button-container">
      <p-button
        severity="contrast"
        label="Close"
        size="small"
        icon="pi pi-times"
        (click)="onCloseDeleteDialog()"
      />

      <p-button
        severity="danger"
        label="Archive"
        size="small"
        [loading]="loading"
        icon="pi pi-check"
        (click)="onDeleteCategory()"
      />
    </div>
  </ng-template>
</p-dialog>

<!-- Restore Category Dialog -->
<p-dialog
  [(visible)]="displayRestoreDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header"
    >Restore the "{{ selectedCategory }}" category?</ng-template
  >
  <ng-template pTemplate="footer">
    <div class="footer-button-container">
      <p-button
        severity="contrast"
        icon="pi pi-times"
        label="Close"
        size="small"
        (click)="onCloseRestoreDialog()"
      ></p-button>
      <p-button
        icon="pi pi-refresh"
        label="Restore"
        size="small"
        [loading]="loading"
        (click)="onRestoreCategory()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="displayEditDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <div class="header-container">
      <span>Edit Category</span>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-tag"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="in">
        <input
          pInputText
          id="editCategoryName"
          [(ngModel)]="editedCategoryName"
          autocomplete="off"
        />
        <label for="editCategoryName">Category Name</label>
      </p-floatlabel>
    </p-inputgroup>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="footer-button-container">
      <p-button
        size="small"
        severity="contrast"
        label="Close"
        icon="pi pi-times"
        (click)="onCloseEditDialog()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        size="small"
        (click)="onSaveEditCategory()"
        [loading]="loading"
      />
    </div>
  </ng-template>
</p-dialog>
